<h3>Branches for <%= @organization.name %></h3>

<table>
  <tr>
    <th>Name</th>
    <th>State</th>
    <th>Email</th>
    <th>Zip</th>
    <th></th>
    <th></th>
  </tr>

<% @branches.each do |branch| %>
  <tr>
    <td><%= branch.name %></td>
    <td><%= branch.state %></td>
    <td><%= branch.email %></td>
  	<td><%= branch.zip %></td>
    <td><%= link_to 'Show', organization_branch_path(@organization, branch) %></td>
    <td><%= link_to 'Edit', edit_organization_branch_path(@organization, branch) %></td>
    <td><%= link_to 'Destroy', [@organization, branch], method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Branch', new_organization_branch_path %>
