<p id="notice"><%= notice %></p>

<div class="field">  <b>Name:</b>
  <%= @branch.name %>
</div>
<div class="field">
  <b>State:</b>
  <%= @branch.state %>
</div>
<div class="field">
  <b>Email:</b>
  <%= @branch.email %>
 </div>
<div class="field">

<%= link_to 'Edit', edit_organization_branch_path(@branch) %> |
<%= link_to 'Back', organization_branches_path %>
</div>
