<%= form_for @user do |u| %>
	<div class="field">
	<span>First Name</span>
	<%= u.text_field :first_name %>
	</div>
	<div class="field">
	<span>Last Name</span>
	<%= u.text_field :last_name %>
	</div>
	<div class="field">
	<span>Email</span>
	<%= u.text_field :email %>
	</div>
	<div class="field">
	<span>Mobile</span>
	<%= u.text_field :mobile %>
	</div>
	<div class="field">
	<span>Address Line1</span>
	<%= u.text_field :address_line_1 %>
	</div>
	<div class="field">
	<span>City</span>
	<%= u.text_field :city %>
	</div>
	<div class="field">
	<span>State</span>
	<%= u.text_field :state %>
	</div>
	<div class="field">
	<span>Zip</span>
	<%= u.text_field :zip %>
	</div>
	
	<%= u.submit %>
	
<% end %>
