<fieldset class='fieldset_box'>
  <legend>Editing organization</legend>
<%= form_for(@organization, :html => {:multipart => true}) do |f| %>
  <%= render :partial => 'shared/validation_errors', :locals =>{ :target => @organization } %>
  <%= hidden_field_tag('organization[active]', true) %>
  <div class="field">
    <span>Organization Name<strong class="required_mark">*</strong></span>
    <%= text_field(:organization, :name) %>
  </div>
  <div class="field">
    <span>Organization Type<strong class="required_mark">*</strong></span>
    <%= select("organization", "organization_type", [['Insurance Firm', 'Insurance Firm'],['Independent Adjuster','Independent Adjuster'],['Other','Other'],['Service Provider','Service Provider']]) %>
  </div>
  <div class="field">
    <span>Address Line1<strong class="required_mark">*</strong></span>
    <%= text_field(:organization, :address_line1)%>
  </div>
  <div class="field">
    <span>Address Line2</span>
    <%= text_field(:organization, :address_line2) %>
  </div>
  <div class="field">
    <span>City<strong class="required_mark">*</strong></span>
    <%= text_field(:organization, :city) %>
  </div>
  <div class="field">
    <span>State<strong class="required_mark">*</strong></span>
    <%= text_field(:organization, :state) %>
  </div>
  <div class="field">
    <span>Zip<strong class="required_mark">*</strong></span>
    <%= text_field(:organization, :zip) %>
  </div>

<div class="field">
<span>Select an image</span>
<p><%= file_field(:organization, :image) %></p>

</div>

</fieldset>
<div class="actions">
  <button type="submit" title="Create" style="float: left;margin-right: 16px;">
    <span><span>Update Organization</span></span>
  </button>
  <%= link_to organizations_path, :id => 'copy_address_info', :class => 'button', :style => "margin-top: 1px;" do %>
    <span>Back</span>
  <% end %>
</div>
<% end %>

