<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @organization.name %>
</p>

<p>
  <b>Organization type:</b>
  <%= @organization.organization_type %>
</p>

<p>
  <b>State:</b>
  <%= @organization.state %>
</p>

<p>
  <b>Unused claim store days:</b>
  <%= @organization.unused_claim_store_days %>
</p>

<p>
  <b>Email:</b>
  <%= @organization.email %>
</p>


<%= link_to 'Edit', edit_organization_path(@organization) %> |
<%= link_to 'Back', organizations_path %>
