
<table class="table">
	<tr class="thead">
		<th><b>Name:</b></th>
		<th><b>Email</b></th>
		<th><b>Status</b>
		<th><b>Confirmation</b></th>
	</tr>
	
	<tr>
		<td><%= @organization.name %></td>
		<td><%= @organization.email %></td>
		<td>Not Implimented</td>
		<td>Not Implimented</td>
		<td> 
			<div class='dropdown-list'>
				<a href='#' class='action-link'>Actions<img src='/assets/down-arrow.png' class="down_arrow">
				<ul class="orgs actions-link" style='display: none;'>
					<li><%= link_to 'Edit', edit_organization_path(@organization) %>
					</li>
					<li><%= link_to 'Back', organizations_path %>
					</li>
				</ul>
			</td>
			<td>
			<%= link_to 'Edit Profile', edit_organization_path(@organization) %>
			</td>
	</tr>
</table>
<br /><br /><br />
<div class="field">
	<span>Invite Branch Admin</span>
	<%= text_field [:organization, :branch], :email %>
	<button type='submit' id="invite_admin", method=Create>Invite</button>
</div>
